<br />

<div>
	<h1>Recipe List:</h1>
	<div class="recipe-box">
		<% @recipes.each do |recipe| %>
			<%= recipe.title %>
			<br />
			<%= recipe.description %>
			<br />
			<hr />
		<% end %>
	</div>
	<%= link_to 'Add a new recipe!', new_recipe_path, class: 'btn btn-primary' %>
</div>